.blog-main {
	font-size: 20px;
}

.textinput {
	font-size: 20px;
	border-color: #000000;
}

.title-area {

}

textarea {
	resize: none;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
}

#titletags {
	margin-bottom: 0px;
}

.badge {
	font-size: 13px;
	background-color: rgb(188, 248, 188);
	color: black;
}

.glyphicon-tag {
	color: green;
}

#submitaskbtn {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	min-width: 150px;
	background-color: #74d3cd;
}

.error-message {
	color: red;
	font-size: 22px;
}