.question-block {
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	width: : 100vh;
	margin-bottom: 15px;
	padding: 5px;
}

.member-avatar {
	height: 100px;
	width: 100px;
}

.line-block {
	display: inline-block;
	float: left;
	height: 100px;
	padding: 0px;
}

.info-path {
	padding-left: 5px;
}

#authorask {
	float: left;
	font-size: 18px;
	line-height: 14px;
}

#data-time {
	float: right;
	font-size: 14px;
	line-height: 10px;
	margin-bottom: 0px;
}

#info-divider {
	margin-top: 17px;
	margin-bottom: 2px;
	border-color: #CCCCCC;
}

#info-bot-divider {
	margin-top: 0px;
	margin-bottom: 2px;
	border-color: #CCCCCC;
}

.badge {
	line-height: 10px;
}

.badge > span {
	font-size: 8px;
}

.bot-al {
	vertical-align: bottom;
}

.repo-group {
	padding: 0px;
	background-color: inherit;
	font-size: 14px;
	margin-left: 5px;
	text-align: right;
	float: right;
}

.repo-group > span {
	background-color: inherit;
}

#badge-repo-group {
	float: right;
	padding-top: 5px;
	font-size: 18px;
}

#badge-repo-user {
	font-size: 17px;
	padding-top: 2px;
	background-color: inherit;
}

.title-area {
	height: 60px;
	width: 100%;
	font-size: 20px;
}

.paginator {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	text-align: center;
}

.paginator-btn {
	margin-bottom: 1px;
	padding: 6px;
	font-size: 18px;
	background-color: rgb(231, 231, 231);
}

.lone-rangers {
	padding-left: 10px;
	padding-right: 10px;
}