.form-signin {
	max-width: 400px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}

.form-signin-heading {
	text-align: center;
}

.checkbox {
	padding-left: 20px;
	display: inline;
}

.loginform {
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
}

.form-signin input[type="email"] {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.form-signin input[type="password"] {
	margin-top: -1px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.btn-lg {
	font-size: 20px;
}

.remember-forgot-line {
	margin-top: 10px;
	margin-bottom: 10px;
}

.signup-line {
	text-align: center;
	font-size: 18px;
}

.error-message {
	color: red;
	font-size: 16px;
}