.form-reg {
	font-size: 20px;
}

.input-data {
	font-size: 20px;
}

.form-reg-heading {
	text-align: center;
	margin-bottom: 20px;
}

.btn-lg {
	font-size: 20px;
}

.error-message {
	text-align: center;
	color: red;
	font-size: 16px;
}