.form-reg {
	font-size: 20px;
}

.input-data {
	font-size: 20px;
}

.form-reg-heading {
	text-align: center;
	margin-bottom: 20px;
}

.btn-lg {
	font-size: 20px;
	max-width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 400px;
}

.error-message {
	text-align: center;
	color: red;
	font-size: 16px;
}

.done-message {
	text-align: center;
	color: green;
	font-size: 16px;
}

#usersettingsavatar {
	min-width: 300px;
	max-width: 300px;
	min-height: 300px;
	max-height: 300px;
}

#fileinput {
	margin-bottom: 10px;
}