.navbar-brand {
	padding-right: 0px;
}

.navbar-brand > a > img {
	max-height: 45px;
	min-width: 130px;
	margin-top: -12px;
}

.navbar-nav {
	font-size: 18px;
}

.dropdown-menu {
	font-size: 18px;
}

#nicesearch {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right-color: rgb(256, 256, 256);
}

#nicesearchbtn {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: #74d3cd;
	border-color: #74d3cd;
}

#askbtn {
	padding-left: 20px;
	padding-right: 20px;
	max-height: 34px;
	font-size: 34px;
	background: rgb(255, 107, 107);
	border-color: rgb(249, 0, 0);
	border-radius: 30px;
}

#askbtnicon {
	font-size: 26px;
}

p.ask {
	position: relative;
	top: -14px;
}

#loginbtn {
	max-height: 34px;
	font-size: 18px;
}

p.userbtn {
	position: relative;
	top: -2px;
}

#usermenu {
	padding-top: 5px;
	padding-bottom: 0px;
	color: #000000;
}

#usernavavatar {
	padding-bottom: 5px;
	min-width: 45px;
	max-width: 45px;
	min-height: 45px;
	max-height: 45px;
}

.dropdown-menu {
	font-size: 22px;
}

#userviewavatar {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 20px;
	padding-left: 20px;
	min-width: 158px;
	max-width: 158px;
	min-height: 115px;
	max-height: 115px;
}

html {
	min-height: 100vh;
}

body {
	min-height: 100vh;
}

#mybody {
	padding-top: 62px;/*52px + 10px*/
	padding-bottom: 93px;/*53px + 40px*/
	min-height: 100vh;
}

#footer {
	margin-top: -53px;
	margin-bottom: 0px;
}

#footerimg {
	padding-top: 0px;
	padding-bottom: 0px;
}

#footerimg > img{
	padding-top: 5px;
	max-height: 47px;
}

.blog-sidebar {
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
}

#sidebarolleftpadding {
	padding-left: 20px;
}

#sidebarsecondline {
	font-size: 16px;
	margin-top: -10px;
}

.sidebar-module {
	font-size: 18px;
}

.divider {
	border-color: #000000;
	margin-top: 5px;
}

.link-to-all {
	margin-top: -15px;
}

#info-sign {
	color: rgb(50,100,256);
}

#earphone {
	color: rgb(20,200,20);
}